<div class="list-container">
    <h3>Cities</h3>
    <ul class="list">
        <li>City 1</li>
        <li>City 2</li>
        <li>City 3</li>
        <li>City 4</li>
        <li>City 5</li>
    </ul>
</div>